[Unit]
Description={app}, a HUD Application
PartOf=hud-apps.target

[Service]
User=hud
Group=hud
WorkingDirectory=/opt/hud

Type=simple
Environment=XDG_RUNTIME_DIR=/opt/hud/run
ExecStart={prefix}/bin/{app}_arm
Restart=always

[Install]
WantedBy=hud-apps.target