SUBSYSTEM=="usb", ATTRS{manufacturer}=="Nreal", TAG+="systemd", ENV{SYSTEMD_WANTS}="nreal-glasses.target", RUN{program}="/usr/bin/touch /opt/hud/glasses_touch"